$primary: #007bff;
$navbar-color: 'red';
$navbar-hover-color: 'red';
$bs-navbar-color: rgb(184, 14, 14);
$bs-navbar-color: rgb(184, 14, 14);


.OhmEE{
    background-color: #007bff;
}

.OhmE {
    width: 60px; 
    border: 3px solid white; 
    border-radius: 50%; 
    padding: 5px;
}

.SNB{
    max-width: 600px;
    flex-grow: 2;
    border-radius: 30px; 
    overflow: hidden;
}

.trackB{
    width: 140px;
    font-weight: bold;
}

.saveE{
    background-image: url('/images/gettyimages-584487610.webp');
    background-size: cover;
}

.bolden{
    font-weight: bold;
    color: white;
}

.fa-search{
    color: #007bff;
}

.LMB{
    width: 240px;
}

.downL{
    max-width: 80%;
}

.Apple{
    height: 24px;
}

.Google{
    height: 24px;
}

.card .user1{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}

.card .user2{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user3{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user4{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user5{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user6{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user7{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}
.card .user8{
    width: 200px; // Set fixed width
    height: 200px; // Set fixed height
    object-fit: cover; // Ensures the image fits within the dimensions
}

.navt {
    display: flex;
    color: white; // Makes the text white
    margin: 0; // Removes default margins for better control over spacing
    text-align: center; // Centers the text
    justify-content: space-evenly;
    padding: 5px;
}

.abu{
    background-color: #EDEDED
}
  
  
  
  
   
  

@import "../node_modules/bootstrap/scss/bootstrap.scss";